.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    position: relative;
}

.banner>img {
    width: 1110px;
    height: 600px;
}

.presentation-area {
    width: 445px;
    height: 357;

    background-color: #FAFAFA;

    position: absolute;
    top: 243px;
}

.presentation-area h1 {
    margin: 56px 28px 54px 28px;
}

.presentation-area a {
    width: 200px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    gap: 140px;

    margin-top: 148px;
}

.about-me img {
    width: 540px;
    height: 600px;
}

.about-me-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-details h2 {
    margin-top: 50px;
}

.about-me-details p {
    margin-top: 28px;

    font-size: 16px;
}

.about-me-details .btn-white {
    align-self: center;

    width: 204px;
    margin: 24px 0 46px 0;
}